workflow/competitor-price-monitor.json
{
  "name": "Competitor Price Monitor",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "price-update",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -448,
        -16
      ],
      "id": "d3aac15c-eed7-4ebb-b4a9-f35f80ada62c",
      "name": "Price Update Webhook"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Price Monitor",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Product Name": "={{ $json.body.product_name }}",
            "Price": "={{ $json.body.price }}",
            "Target Price": "={{ $json.body.target_price }}",
            "Alert Type": "={{ $json.body.alert_type }}",
            "Currency": "={{ $json.body.currency }}",
            "Timestamp": "={{ $json.body.timestamp || $now }}",
            "URL": "={{ $json.body.url }}"
          },
          "matchingColumns": [
            "URL"
          ],
          "schema": [
            {
              "id": "Product Name",
              "displayName": "Product Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Price",
              "displayName": "Price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "Target Price",
              "displayName": "Target Price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "Alert Type",
              "displayName": "Alert Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Currency",
              "displayName": "Currency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -192,
        -16
      ],
      "id": "5ace7fa0-a348-44dd-bcd2-a987f95bba85",
      "name": "Log Price Snapshot"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "098f3ec1-6279-4c9c-a6ff-ee30d42a597f",
              "leftValue": "={{ Number($json.Price) }}",
              "rightValue": "={{ Number($json['Target Price'] || 999) }}",
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        48,
        -16
      ],
      "id": "2c214f8d-f352-42ba-9ca4-9a887699247a",
      "name": "Price Below Target?"
    },
    {
      "parameters": {
        "sendTo": "price-alerts@example.com",
        "subject": "=Price drop: {{ $json['Product Name'] }} is {{ $json.Currency }} {{ $json.Price }}",
        "message": "=Product: {{ $json['Product Name'] }}\nCurrent price: {{ $json.Currency }} {{ $json.Price }}\nTarget price: {{ $json.Currency }} {{ $json['Target Price'] }}\nURL: {{ $json.URL }}\nChecked at: {{ $json.Timestamp }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        304,
        -112
      ],
      "id": "e3b9afc5-eeea-40d9-aae8-b073a4277c44",
      "name": "Send Price Drop Alert"
    },
    {
      "parameters": {
        "sendTo": "price-alerts@example.com",
        "subject": "=Price check: {{ $json['Product Name'] }} is {{ $json.Currency }} {{ $json.Price }}",
        "message": "=No drop below target yet.\nProduct: {{ $json['Product Name'] }}\nCurrent price: {{ $json.Currency }} {{ $json.Price }}\nTarget price: {{ $json.Currency }} {{ $json['Target Price'] }}\nURL: {{ $json.URL }}\nChecked at: {{ $json.Timestamp }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        304,
        80
      ],
      "id": "08d01d0e-74a4-4426-ba4e-b8258cc43ca1",
      "name": "Send Status Email"
    }
  ],
  "pinData": {},
  "connections": {
    "Price Update Webhook": {
      "main": [
        [
          {
            "node": "Log Price Snapshot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Price Snapshot": {
      "main": [
        [
          {
            "node": "Price Below Target?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Price Below Target?": {
      "main": [
        [
          {
            "node": "Send Price Drop Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Status Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
